html, body {
  height: 100%;
}

#map-title {
  z-index: 1000;
  position: absolute;
  margin-left: 80px;
  bottom: 40px;
  color: blue;
}

#map-1993 {
  height: 80%;
  width: 40%;
  padding: 10px;
  margin: 10px;
  margin-top: 50px;
  float: left;
}
#map-2008 {
  height: 80%;
  width: 40%;
  padding: 10px;
  margin: 10px;
  margin-top: 50px;
}
.legend {
  background: white;
  padding: 6px 8px;
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 1.0;
}
