html, body {
  height: 100%;
}

/* Need to set height for container or container-fluid? Or else change height or width of map-id*/


#map-id {
  height: 100%;
  padding: 0;
  margin: 0;
}
#map-2 {
  height: 100%;
  padding: 0;
  margin: 0;
}
.legend {
  background: white;
  padding: 6px 8px;
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 1.0;
}
