<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Burn Baby Burn: Predictions</title>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="static/css/leaflet.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="static/css/bootswatch.css">

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
  <!-- Bootstrap div-->
  <!-- Navbar container + Explanatory Card + 2008 Fire Title Card-->
  <div class="container-fluid">
    <div class="row">
      <div class="col">

          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <a class="navbar-brand" href="#">California Fires</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>
                  
                  
                  <li class="nav-item active">
                    <a class="nav-link" href="/about">About</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/risk">Predictive Risk</a>
                    </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/1993">1993 Statistics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/2008">2008 Statistics</a>
                      </li>
                
                </ul>
                
              </div>
            </nav>
      </div>
    </div>

  </div>

  

  <!-- Content-->
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <p>
          After the summer of 2018, many people in California and around the US have been spending a lot of time thinking about wildfires.  We have questions:  Are they getting worse, as it seems?  If they’re getting worse, what is causing it?  There have been competing— and politicized— arguments— Fires are worse because fewer controlled burns are clearing out built-up undergrowth.  Because of climate change.  Because people are moving to remote areas that weren’t previously developed.  Everyone has an opinion, but data has been scarce.</p>

<p>We decided to fix that.  Our team decided to look at wildfires, and look at a huge number of climate change and human footprint factors, and see which factors actually matter.</p>

<p>First: finding the data.  We worked with a database of 1.88 million US fires— with a record for each fire, this database provides an enormous amount of data about each one.  We then looked for data on climate change and human footprint.  This data relies on surveys:  unlike the fire data, with a record for each fire over a period of years, our climate change and human footprint data is only available for certain years, and is a summary of the entire year. Based on the availability of survey data, we decided to compare two years:  1993 and 2008. </p>

<p>The large shape of the project was beginning to come into view.  We would compare fires to human footprint and climate change factors in two years, 1993 and 2008.  This would give us the ability to look in two different arenas:  are fires getting worse?  And which factors are most predictive of fires?</p>

<p>At this point, the work split into several directions,  We wanted a website with interactive leaflet map showing fires for the two years, so that visitors could see and explore all the fires happening at that time.  And we wanted a machine learning component, to determine which factors were correlated with fires, and how influential each one was.  Finally, we chose a very ambitious stretch goal: we wanted to show a map of California, color-coded based on the factors— a risk map with the likelihood of fire color-coded across the entire state.</p>

<p>Our interactive map was built with leaflet, showing the two fire maps side-by-side: fires in 1993 and 2008.  We showed all fires greater then 100 acres, and used opacity of markers to indicate the size of the fire, with pop-up text giving the number of acres for each fire.</p>

<p>For the machine learning component, we used the maxent package, which shows positive correlation only,  generally used to correlate species with the different factors that might impact their ability to thrive.  This allowed us to produce two risk maps: one with positive factors (increasing the likelihood of fires)  and one with protective factors (inversely correlated with fires.)
        </p>
         </div>
    </div>
  </div>
 

  <!-- D3 -->
  <script src="static/js/d3.min.js"></script>

  <!-- Leaflet JavaScript -->
  <script src="static/js/leaflet.js"></script>

  <!-- API Key -->
  <script type="text/javascript" src="static/js/config.js"></script>
  <!-- Our JavaScript -->
  <script type="text/javascript" src="static/js/logic.js"></script>
</body>

</html>